---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<div class="max-w-sm overflow-hidden shadow-lg bg-white rounded-2xl">
	<div class="px-6 py-4">
		<div class="font-bold text-xl mb-2">Sidebar</div>
		<p class="text-gray-700 text-base">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
		</p>
	</div>
</div>
